{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('login.static', filename = 'css/login.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Увійти</h1>

        <form method="post" class="form-input">
            <p>Введіть вашу електронну пошту нижче, щоб увійти до облікового запису</p>
            <input name="email" type ="text" placeholder="name@example.com">
            <p>Задайте ваш пароль нижче, щоб увійти до облікового запису</p>
            <input name="password" type="password" placeholder="************" minlength="8">
            <!-- <div class="buttons"> -->
                <button class="send-button" type="submit">Увійти</button>
                <!-- <button class="register-btn" type="button"><a href="/">Створити обліковий запис</a></button> -->
            <!-- </div> -->
        </form>

        <div class="policy">
            <p>Натискаючи «Продовжити», ви погоджуєтеся з нашими <br>
            <a href="">Умовами обслуговування</a> та 
            <a href="">Політикою конфіденційності</a>.</p>
        </div>
    </div>
{% endblock %}