{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('main_page.static', filename = 'css/main_page.css') }}">
<link rel="stylesheet" href="{{ url_for('main_page.static', filename = 'css/your_chat.css') }}">
<link rel="stylesheet" href="{{ url_for('main_page.static', filename = 'css/general_chat.css') }}">
<link rel="stylesheet" href="{{ url_for('main_page.static', filename = 'css/chat_users.css') }}">
{% endblock %}

{% block content %}
    <!-- <h1></h1> - заголовок (1-6)
    <p></p> - просто текст (параграф)
    <span></span> - тоже текст, но для редакции
    <a href="ссылка"></a> - тег для ссылок
    <button></button> - кнопка
    <input type="text"> - поле ввода
    <img src="" alt=""> - картинка
    <div></div> - контейнер для контента
    
    каждому тегу можно задать class(можно задать одинаковый для нескольких елементов) или id(один айдиш для одного елемента) -->


    <div class="main-container">
        <div class="header-content">
            <div class="user_set_head1">
                <img src="{{ url_for('main_page.static', filename = 'images/Vector.png') }}" alt="">
                <p>Chat</p>
            </div>
                
            <div class="user_set_head2">
                <img src="{{ url_for('main_page.static', filename = 'images/Icon.png') }}" alt="">
                <button class="settings" id="openModal">
                    <img src="{{ url_for('main_page.static', filename = 'images/settings.png') }}" alt="">
                </button>
                
                <div class="modal-overlay" id="modal">
                    <div class="set-modal">
                        <div class="modal-header">
                            <p>Налаштування</p>
                            <button class="close-btn" id="closeModal"><img src="{{ url_for('main_page.static', filename = 'images/cross-1.png') }}" alt=""></button>
                        </div>
                        <hr class="hr">
                        <div class="modal-body">
                            <p>Зображення профілю</p>
                            <div class="img-body">
                                <div class="acc_img1" id="avatarPreview" data-initials="{{ (current_user.username or current_user.email)[0:1].upper() }}">
                                    {% if current_user.avatar_path %}
                                        <img src="{{ url_for('main_page.static', filename='images/avatars/' + current_user.avatar_path) }}" alt="avatar">
                                    {% else %}
                                        <p>{{ (current_user.username or current_user.email)[0:1].upper() }}</p>
                                    {% endif %}
                                </div>
                                <div class="img-btns">
                                    <button class="btn" id="changeAvatarBtn">
                                        <img src="{{ url_for('main_page.static', filename = 'images/repeat-2.svg') }}" alt="">
                                        <p>Замінити</p>
                                    </button>
                                    <button class="btn" id="deleteAvatarBtn">
                                        <img src="{{ url_for('main_page.static', filename = 'images/trash.svg') }}" alt="">
                                        <p>Видалити</p>
                                    </button>
                                </div>
                                <!-- прихований input для вибору файлу -->
                                <input type="file" id="avatarInput" accept=".png,.jpg,.jpeg,.webp" style="display: none;">
                            </div>
                        </div>
                        <hr class="hr">
                        <form action="{{ url_for('main_page.save_settings') }}" method="POST">
                            <div class="content-part">
                                <div class="name-group">
                                    <p>Ім’я</p>
                                    <input type="text" name="first_name" placeholder="Введіть ім'я">
                                </div>

                                <div class="secname-group">
                                    <p>Прізвище</p>
                                    <input type="text" name="last_name" placeholder="Введіть прізвище">
                                </div>

                                <div class="username-group">
                                    <p>Ім’я користувача</p>
                                    <input type="text" name="username" placeholder="Введіть ім'я користувача">
                                </div>

                                <div class="gender-group">
                                    <p>Стать</p>
                                    <select class="custom-select" name="gender">
                                        <option value="female">Жіноча</option>
                                        <option value="male">Чоловіча</option>
                                    </select>
                                </div>

                                <div class="year-group">
                                    <p>Вік</p>
                                    <input type="date" name="birth_date" placeholder="Оберіть вік">
                                </div>
                            </div>
                            <hr class="hr">
                            <div class="del-acc">
                                <img src="{{ url_for('main_page.static', filename = 'images/trash.svg') }}" alt="">
                                <a href="{{ url_for('main_page.logout') }}">Видалити аккаунт</a>
                            </div>
                            <hr class="hr">
                            <div class="img-btns2">
                                <button class="btn2"><p>Скасувати</p></button>
                                <button class="btn3"><p>Зберегти</p></button>
                            </div>
                        </form>
                    </div>
                </div>    
                
                <div class="acc_img2" id="headerAvatar">
                    {% if current_user.avatar_path %}
                        <img src="{{ url_for('main_page.static', filename='images/avatars/' + current_user.avatar_path) }}" alt="avatar">
                    {% else %}
                        <p>{{ (current_user.username or current_user.email)[0:1].upper() }}</p>
                    {% endif %}
                </div>
            </div>  
        </div>
        <div class="main-content">
            <div class="your-chats tab-active">
                {% include 'particles/your_chat.html' %}
            </div>

            <div class="general-chat">
                {% include 'particles/general_chat.html' %}
            </div>

            <div class="users">
                {% include 'particles/chat_users.html' %}
            </div>
        </div>
    </div>    
{% endblock %}

{% block scripts %}
    <script>
        const CURRENT_USER_ID = {{ current_user.id }};
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"></script>
    <script src="{{ url_for('main_page.static', filename = 'js/tabs.js') }}"></script>
    <script src="{{ url_for('main_page.static', filename = 'js/result.js') }}"></script>
    <script src="{{ url_for('main_page.static', filename='js/chat.js') }}"></script>
    <script src="{{ url_for('main_page.static', filename='js/avatar.js') }}"></script>
    <script src="{{ url_for('main_page.static', filename = 'js/openModal.js') }}"></script>
    <script src="{{ url_for('main_page.static', filename = 'js/openCreateModal.js') }}"></script>
    <script src="{{ url_for('main_page.static', filename = 'js/createChat.js') }}"></script>
    <script src="{{ url_for('main_page.static', filename = 'js/deleteChat.js') }}"></script>
    <script src="{{ url_for('main_page.static', filename = 'js/openDeleteModal.js') }}"></script>
    <script src="{{ url_for('main_page.static', filename = 'js/searchChat.js') }}"></script>

{% endblock %}