{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('registration.static', filename = 'css/registration.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Створити обліковий запис</h1>

        <form method="post" class="form-input">
            <p>Введіть вашу електронну пошту нижче, щоб створити обліковий запис</p>
            <input name="email" type ="text" placeholder="name@example.com">
            <p>Задайте ваш пароль нижче, щоб створити обліковий запис</p>
            <input name="password" type="password" placeholder="************">
            <div class="buttons">
                <button class="send-button" type="submit">Надіслати код підтвердження</button>
                <button class="log-in-btn" type="button"><a href="login">Увійти</a></button>
            </div>
        </form>

        <div class="policy">
            <p>Натискаючи «Продовжити», ви погоджуєтеся з нашими <br>
            <a href="">Умовами обслуговування</a> та 
            <a href="">Політикою конфіденційності</a>.</p>
        </div>
    </div>
{% endblock %}
