<div class="users_header">
    <p>Користувачі</p>
    <div class="users_counts">
        <div class="count_users">
            <img src="{{ url_for('main_page.static', filename='images/people.svg') }}" alt="people" />
            <span>0 користувача</span> 
        </div>
        <div class="count_users_online">
            <img src="{{ url_for('main_page.static', filename='images/people.svg') }}" alt="people" />
            <span>Усі оффлайн</span> 
        </div>
    </div>
</div>

<div class="users_list">
    <!-- <div class="user-item owner">
        <div class="user-avatar-wrapper">
            <div class="user-avatar">ІП</div>
            <span class="user-status online"></span>
        </div>
        <span class="user-name">Іван Петренко</span>
    </div>

    <div class="user-item">
        <div class="user-avatar-wrapper">
            <div class="user-avatar" style="background: #e07a30;">K</div>
            <span class="user-status online"></span>
        </div>
        <span class="user-name">Kate</span>
    </div>

    <div class="user-item">
        <div class="user-avatar-wrapper">
            <div class="user-avatar" style="background: #3ba76a;">M</div>
            <span class="user-status"></span>
        </div>
        <span class="user-name">Sarah</span>
    </div> -->
</div>

<div class="info-user">
    <img src="{{ url_for('main_page.static', filename='images/cross-1.png') }}" alt="" class="info-close" id="infoClose">
    <div class="info-povod">
        <div class="info-avatar av-blue">ІП</div>
        <p class="info-name">Іван Петренко</p>
        <p class="info-username">@ivan_petrenko</p>
    </div>
    <div class="info-names">
        <p class="info-name-label">Дата народження</p>
        <p class="info-value">15 квіт. 1995 (30 років)</p>
        <p class="info-name-label">Стать</p>
        <p class="info-value">Жінка</p>
    </div>
</div>