body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin-top: 3vh;

    overflow: hidden;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 35vw;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.log-in{
    position: absolute;
    right: 40px;

    width: 76px;
    height: 36px;

    border: 1px solid rgba(228, 228, 231, 1);
    border-radius: 6px;
    background-color: white;
    color: black;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}