.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.form-input {
    display: flex;
    flex-direction: column;

    width: 40%;
    border-radius: 4px;
}
.form-input input{
    height: 4vh;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-input p{
    font-size: 0.875rem;
    color: rgba(113, 113, 122, 1);

}

.policy{
    display: flex;
    align-items: center;
    color: rgba(179, 179, 197, 1);

}
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.send-button {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 15px;
    height: 4vh;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.log-in-btn{
    /* position: absolute;
    right: 2.6vw; */

    /* width: 5vw;
    height: 4vh; */
    display: none;
    justify-content: space-between;

    border: 1px solid rgba(228, 228, 231, 1);
    border-radius: 6px;
    background-color: white;
    color: black;
}
.log-in-btn a {
    text-decoration: none;   /* прибирає підкреслення */
    color: inherit;          /* колір як у батьківського елемента */
}




@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.1rem;
        width: 100%;
        gap: 0;
    }
    .form-input {
        display: flex;
        flex-direction: column;
        font-size: 1rem;

        width: 100%;
        border-radius: 4px;
    }
    .form-input p{
        text-align: center;
    }
    .form-input input{
        width: 100%;
        height: 4.3vh;
        padding: 4px 12px 4px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .policy{
        text-align: center;
    }
    .policy p{
        font-size: 0.875rem;
    }
    .policy a{
        font-size: 0.875rem;
    }

    .send-button{
        width: 60%;
        
        height: 4.3vh;
    }

    .log-in-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 15px;
        height: 4.3vh;
        width: 35%;
    }
}